/*General*/
body{
    background-color: none;
}
footer{
    background-color: grey;
}
video{
    width: 100%;
}

/*Header*/
    /*Barra de navegación*/
#listaNone{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.navegar{
    margin-top: 15px;
}
#navegar{
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 15px;
    width: min-content;
    border-width: 2px;
    border-style: solid;
    border-color: aliceblue;
}
#barraNav{
    position: absolute;
    top: 20px;

    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: center;
    justify-content: space-between;  

    width: 95%;
}
#barraNav, .intro{
    font-family: 'Rowdies', cursive;
    color: aliceblue;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
}

    /*Sección introducción*/
.intro{
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;

    position: absolute;
    top: 200px
}
#subtitle{
    margin-bottom: 0.5em;
    margin-top: 0em;
}
#title{
    margin-bottom: 0em;
}
#intro{
    font-size: 1.2em;
}

/*Sección About me*/
.principal{ 
    font-family: 'Sofia Sans', sans-serif;
    padding-top: 3%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 3%;

    z-index: 2;
} /*Lo tienen todas las secciones*/

/*Sección Skills, Software and Tools*/
#section2{
    background-color: rgb(214, 214, 214);
    
}
#section2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex_column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#section2>div{
    width: 50%;
}

/*Sección Contact*/
label{
    font-family: 'Sofia Sans', sans-serif;
    margin-right: 1em;
    padding-left: 0.5em;
}
#message{
    height: 100px;
}
#sugerencia{
    margin-top: 5em;
}
#contactLinks{
    text-align: center;
}
a > #contactLink{
    width: 40px;
    padding: 1em;
}


/*Footer*/
img{
    width: 35px;
}
.websites{
    padding-top: 10px;
    text-align: center;
}
.alinearFooter{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}
.websites > ul > li{
    padding-left: 15px;
    padding-right: 15px;
}


