  header {     
  padding: 10px; 
  text-align: left;
  color: #090808;
  }

  h2 {    
    background-color: rgb(43, 198, 226);
    color:  white;
    height: 50px; 
  }

  h3 {    
    background-color: rgb(43, 198, 226);
    color:  white;
    height: 40px;
  }

  .container {
    margin: 50px;
    border: solid rgb(82, 100, 234);
    border-radius: 20px;
    padding: 10px;
  }

  .datos {
    color:  #0f87ccd8;
    margin: 20px 20px 20px 25px;
  }

  a {
  color: #249ee5d8;
  margin: 30px 20px 10px 25px;
  }

  footer{
  color: #6b8ea1d8;
  margin: 30px 20px 10px 25px;
  }
