*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
}

header,footer>p{
    background-color: rgb(36, 41, 56);
    color: white;
    padding: 15px;
}

#barra-iconos{
    margin-left: auto;
    padding-top: 4px;
}

.item-lista{
    display: inline-block;
}

img{
    height: 20px;
}

h2,#margenEstudios{
    margin-bottom: 20px;
}

a{
    text-decoration: none;
}

h2{
    text-decoration: underline;
    text-shadow: 1px 2px 5px grey;
}

.cuadrosDeDatos{
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 10px 20px grey;
    transition: 400ms;
}

.cuadrosDeDatos:hover{
    transform: scale(1.01);
}

section>p{
    padding-bottom: 20px;
}

.icono{
    margin: 0px 0px 0px 10px;
    background-color: white;
    border-radius: 5px;
    transition: 400ms;
}

.icono:hover{
    box-shadow: 0px 0px 5px grey;
    transform: scale(1.2);
}

span{
    font-weight: bold;
}

footer>h2{
    margin: 0 20px 20px;
}

footer>p{
    margin-top: 20px;
    text-align: center;
}


