

#css_ref {
    color: blue;
    font-size: 16px;
    font-style: italic;
    padding: 20px;
    float: left;

}
*{
    
}
/*
* {
    font-style: normal;
    font-size: 12px;
    color: rgb(67, 67, 80);
    float: left;
    background-color: rgb(247, 243, 243);
}
*/
#redes {
    color: blue;
    font-size: 10px;
}

#titulo_ppal {
    color: rgb(55, 124, 136);
    font-size: 25px;
    font-style: italic;
}

#datos {
    font-style: oblique 40deg;
}

#titulo {
    color: rgba(20, 141, 221, 0.829);
    font-size: 20px;
}

#detalle_datos {
    color: rgba(23, 23, 26, 0.452);
}

#contenido {
    color: rgba(15, 15, 19, 0.671);
}

   
